body {
  background: #e8e7de;
  font-family: "Montserrat";
}

.gameboard{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #eaecee;
  width: 341px;
  height: 341px;
}

.white {
  background-color: rgba(255, 255, 255, 0.8);
  height: 30px;
  width: 30px;
  border:1px solid transparent 
}

.black {
  background-color: rgba(78, 69, 69, 0.8);
  height: 30px;
  width: 30px;
  border:1px solid transparent 
} 

.current {
  background-color: rgb(228, 37, 37);
  animation-duration: 10s;
}

.visited {
  background-color: rgb(218, 95, 95);
  border: 1px solid rgb(199, 179, 179);
}

.targetBall {
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}


.final-scoreboard{
width: 330px;
height: 330px;
background-color: #9da6af;
display: none;
  justify-content: center;
  align-items: center;

}